@keyframes slideIn {
  0% {
    opacity: 0;
    top: 90%; }
  100% {
    opacity: 1;
    top: 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 85%; } }

body {
  background-color: #f0f4f5; }

a:hover, a:visited {
  color: black;
  text-decoration: none; }

.green {
  color: #143314 !important; }

.red {
  color: #b4b1b3 !important; }

.site__button:link, .site__button:visited {
  display: inline-block;
  margin-top: 1.2rem;
  padding: .5rem 3rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: #067a06dd;
  transition: background-color .5s; }
  .site__button:link:hover, .site__button:visited:hover {
    background-color: #16D912; }

.button:link, .button:visited {
  display: inline-block;
  text-decoration: none; }

.button-link:link, .button-link:visited {
  font-size: 2.5rem;
  background-color: #067a06dd;
  padding: .3rem 1.5rem;
  border: 2px inset white;
  color: white;
  margin-right: .5rem;
  border-radius: 10px; }
  @media only screen and (max-width: 56.25em) {
    .button-link:link, .button-link:visited {
      font-size: 1.5rem;
      padding: .3rem 1rem; } }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: inherit;
  margin-bottom: 2rem; }
  .card__img {
    width: 100%;
    height: 27rem; }
  .card__text {
    padding: 1.2rem;
    height: 28rem;
    text-align: center; }
  .card__name {
    font-size: 3rem; }
  .card__title {
    color: grey;
    font-size: 1.8rem;
    margin-bottom: .5rem; }
  .card__bio {
    text-align: left; }
  .card__button {
    position: absolute;
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: .5rem 0;
    bottom: 0; }
  .card__button:hover {
    opacity: 0.7; }

.decorated {
  overflow: hidden;
  text-align: center; }

.decorated > span {
  position: relative;
  display: inline-block; }

.decorated > span:before, .decorated > span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid #067a06dd;
  width: 100%;
  /* half of limiter*/
  margin: 0 20px; }

.decorated > span:before {
  right: 100%; }

.decorated > span:after {
  left: 100%; }

.contact-form {
  display: flex;
  flex-direction: column; }
  .contact-form__input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    line-height: 1.4; }
  .contact-form__button {
    width: 15rem;
    background-color: #16D912;
    padding: 14px 20px;
    margin: 1rem 0;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer; }

.package {
  perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 30rem;
  border-radius: 10px;
  margin-bottom: 5rem; }
  .package__side {
    height: 40rem;
    transition: transform 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5); }
    .package__side--front {
      background-color: white; }
    .package__side--back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotateY(-180deg); }
      .package__side--back--1 {
        background-image: linear-gradient(to right bottom, #c9eeb0, #058b53); }
      .package__side--back--2 {
        background-image: linear-gradient(to right bottom, #b0daee, #052f8b); }
      .package__side--back--3 {
        background-image: linear-gradient(to right bottom, #eeb0eb, #87058b); }
  .package:hover .package__side--front {
    transform: rotateY(180deg); }
  .package:hover .package__side--back {
    transform: rotateY(0); }
  @media only screen and (max-width: 37.5em) {
    .package {
      height: auto;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
      .package__side {
        height: auto;
        position: relative;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .package__side--back {
          transform: rotateY(0);
          border-top-left-radius: 0;
          border-top-right-radius: 0; }
      .package:hover .package__side--front {
        transform: rotateY(0); } }
  .package__section {
    background-color: #3f3c3c;
    min-height: 100vh;
    padding-top: 2rem; }
  .package__header {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .package__header {
        font-size: 3rem; } }
  .package__price {
    font-size: 4.5rem;
    color: white; }
    @media only screen and (max-width: 37.5em) {
      .package__price {
        font-size: 4rem;
        margin-top: 1.5rem; } }
  .package__title {
    text-align: center;
    font-size: 3rem;
    color: #3f3c3c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem; }
    .package__title--1 {
      background-image: linear-gradient(to right bottom, #c9eeb0, #058b53); }
    .package__title--2 {
      background-image: linear-gradient(to right bottom, #b0daee, #052f8b); }
    .package__title--3 {
      background-image: linear-gradient(to right bottom, #eeb0eb, #87058b); }
  .package__box {
    padding: 3rem;
    border: 1px solid #9e9a9a;
    background-color: #e7d5d5;
    color: #131212; }
    @media only screen and (max-width: 37.5em) {
      .package__box {
        margin-bottom: 1rem; } }
  .package__list {
    margin-top: 2rem;
    list-style: none;
    margin: 0;
    padding: 0; }
  .package__item {
    padding: .7rem .5rem;
    font-size: 1.7rem;
    line-height: 1.7; }
  .package__button {
    display: block;
    width: 50%;
    padding: 1rem;
    border: 1px solid #3f3c3c;
    text-decoration: none;
    color: #3f3c3c;
    font-size: 2rem;
    background-color: white;
    margin: 2rem 0;
    text-align: center;
    border-radius: 20px; }
    .package__button:hover, .package__button:visited {
      color: black;
      transform: translateY(-3px);
      text-decoration: none; }

.home {
  height: auto;
  background-image: url(../img/map.png);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home__header {
    font-size: 5rem;
    color: black;
    text-align: center;
    margin-bottom: 3rem; }

.top-bar {
  background: #3b3e46;
  min-height: 51px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }

.top-links {
  float: left;
  color: #d8d8d8;
  font-size: 13px;
  line-height: 51px;
  font-weight: 400;
  padding-left: 11px; }

.top-links.rgtflot {
  float: right;
  padding-right: 10px; }

.top-bar h6 i {
  background: none;
  font-size: 16px;
  color: #00c2e5;
  display: inline;
  margin: 7px 4px;
  vertical-align: middle; }

.top-bar .socialfollow {
  float: right;
  margin-right: 10px; }

.top-bar a.topbar-btn {
  color: #fff;
  background-color: #16D912;
  line-height: 51px;
  height: 52px;
  display: inline-block;
  padding: 0 15px;
  float: right;
  font-size: 12px;
  font-weight: 400;
  transition: .2s all ease; }

.top-bar h6, .top-inf h6 {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: inline-block; }

.top-links a {
  color: #fff;
  font-size: 10px;
  display: inline;
  margin: 0 6px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .6px; }

.top-bar .socialfollow a {
  padding: 0;
  background: 0 0;
  margin: 14px 3px 0;
  background-color: #303239;
  border: 1px solid #2c2d34;
  width: 28px;
  text-align: center;
  line-height: 28px;
  height: 28px; }

.socialfollow a {
  border-radius: 8px;
  padding: 8px;
  margin-right: 7px;
  transition: .3s all; }

.top-bar .socialfollow i, .top-links .socialfollow a:before {
  color: #fff;
  font-size: 16px;
  padding-top: 13px; }

.socialfollow i:hover, .navbar .nav > li > a:before, .btn-group .btn, #nav .active a, #nav > li:hover > a {
  color: #0ab1f0; }

.footer {
  padding: 3rem 4rem;
  background-color: #e7d5d5; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 1rem 0; } }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 75em) {
      .footer__grid {
        grid-template-columns: repeat(3, 1fr); } }
    @media only screen and (max-width: 56.25em) {
      .footer__grid {
        grid-template-columns: repeat(2, 1fr); } }
  .footer__list {
    display: flex;
    flex-direction: column; }
    .footer__list p {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 0;
      text-decoration: underline; }
    @media only screen and (max-width: 56.25em) {
      .footer__list {
        display: none; } }
  .footer__link {
    font-size: 2rem; }
  .footer__text {
    font-size: 2.5rem; }
    @media only screen and (max-width: 75em) {
      .footer__text {
        text-align: center;
        grid-column: 1 / -1; } }
  .footer__icons {
    display: flex; }
  .footer__icon {
    font-size: 3rem;
    margin-right: 1rem; }

.contact {
  padding: 20rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      grid-template-columns: 1fr; } }
  .contact__title {
    font-size: 4rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__title {
        font-size: 3.5rem; } }
  .contact__infor p {
    font-size: 2.5rem;
    color: #9e9a9a;
    line-height: 1.2; }

.portfolio {
  color: white;
  padding: 2rem 3rem; }
  .portfolio__header {
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #3f3c3c; }
  .portfolio__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .portfolio__card {
    padding: 2rem 0; }
    .portfolio__card figure {
      margin: 2rem; }
    .portfolio__card figcaption {
      font-size: 2.7rem;
      padding: 2rem 0;
      font-weight: bold;
      color: #3f3c3c; }
    .portfolio__card p {
      font-size: 1.8rem;
      color: #3f3c3c; }
    .portfolio__card img {
      width: 30rem;
      height: 20rem; }

.process {
  padding: 5rem 12rem; }
  @media only screen and (max-width: 37.5em) {
    .process {
      padding: 5rem; } }
  .process__header {
    font-size: 5rem;
    text-align: center;
    color: #3f3c3c; }
    @media only screen and (max-width: 56.25em) {
      .process__header {
        font-size: 3rem; } }
  .process__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    margin: 3rem 0; }
    @media only screen and (max-width: 56.25em) {
      .process__container {
        grid-template-columns: 1fr; } }
    .process__container img {
      width: 100%; }
  .process__text {
    padding: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .process__text {
        padding: 0; } }
    .process__text h2 {
      font-size: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .process__text h2 {
          font-size: 3.5rem; } }
    .process__text p {
      font-size: 2.5rem;
      line-height: 1.3; }
      @media only screen and (max-width: 37.5em) {
        .process__text p {
          font-size: 2rem; } }
  .process__area {
    background-color: #645f5f;
    padding: 2.5rem 4.6rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .process__area span {
      font-size: 3.5rem; }
    .process__area p {
      font-size: 1.4rem;
      margin-bottom: 1px;
      white-space: nowrap;
      color: white; }
  .process__line {
    width: 100%;
    height: 2px;
    position: relative;
    background-color: #3f3c3c; }
    @media only screen and (max-width: 56.25em) {
      .process__line {
        width: 2px;
        height: 5rem; } }
  .process__reverse-text {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .process__reverse-text {
        order: 0; } }

.packageSection {
  padding: 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .packageSection {
      padding: 0 5rem 5rem 5rem; } }
  .packageSection__grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.desk {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 51px;
  z-index: 200; }

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  overflow: hidden;
  flex: 0 1 75%;
  display: flex;
  justify-content: flex-end; }

.navigation__item {
  float: left;
  padding: 0;
  margin: 0; }

.navigation__link {
  display: block;
  font-weight: 600;
  color: #444;
  outline: 0;
  opacity: 1;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 2rem 1.5rem;
  letter-spacing: 0.3px;
  text-decoration: none;
  transition: background-color .15s ease-in-out; }
  .navigation__link:hover {
    background-color: #e8e8ec; }

.logo {
  background: #fff;
  flex: 0 0 25%;
  display: flex;
  justify-content: center; }

.logo__image {
  height: 55px;
  margin: 6px 0px; }

.mobileNav {
  display: none; }

.mobileNav__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (min-width: 950px) and (max-width: 1040px) {
  .logo {
    background: #fff;
    flex: 0 0 25%;
    display: flex;
    flex: 1; }
  .logo__image {
    height: 40px; } }

@media (min-width: 200px) and (max-width: 950px) {
  .desk {
    display: none; }
  .mobileLogoText__image {
    height: 40px !important; }
  .top-links.rgtflot {
    float: right;
    padding-right: 0px; }
  nav.mobileNav,
  .hamburger-btn {
    display: block; }
  .mobileLogoText {
    padding-left: 5px; }
  .hamburger-btn {
    position: relative; }
  .mobileNav {
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #fff;
    display: flex;
    z-index: 100; }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    float: right;
    padding: 20px 20px 10px 0px;
    font-size: 35px;
    color: #40b2f1;
    cursor: pointer; }
  .mobileNav ul {
    margin-top: 0px !important;
    background-color: #16D912;
    font-size: 2rem;
    font-weight: bold;
    display: none; }
  .mobileNav li {
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    cursor: pointer; }
  .mobileNav ul.active {
    display: block; }
  nav.desk ul li:hover,
  nav.mobileNav ul li:hover {
    background-color: #e8e8ec; } }

.packageSection {
  padding: 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .packageSection {
      padding: 0 5rem 5rem 5rem; } }
  .packageSection__grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.carousel {
  background: #535555;
  margin-top: 20px;
  position: relative;
  color: white; }
  .carousel__text {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .carousel__text {
        width: 65%; } }
    .carousel__text h1 {
      font-size: 4.5rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .carousel__text h1 {
          font-size: 2.5rem;
          margin-bottom: 1rem; } }
    .carousel__text p {
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .carousel__text p {
          font-size: 1.5rem;
          margin-bottom: 2rem; } }
    .carousel__text span {
      color: #c7f1c7dd; }

.carousel-item {
  text-align: center;
  min-height: 230px;
  /* Prevent carousel from being distorted if for some reason image doesn't load */ }

.bs-example {
  margin-top: 100px; }

.carousel-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  opacity: .3; }
  @media only screen and (max-width: 56.25em) {
    .carousel-img {
      height: 30rem; } }

@media only screen and (max-width: 950px) {
  .bs-example {
    margin-top: 120px; } }

.service {
  padding: 2rem 5rem; }
  .service__title {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #3f3c3c; }
    @media only screen and (max-width: 56.25em) {
      .service__title {
        font-size: 3rem; } }
  .service__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .service__container {
        grid-template-columns: 1fr; } }
  .service__container img {
    width: 100%; }
  .service__area {
    display: flex;
    flex-direction: column;
    margin-left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .service__area {
        margin-left: 0;
        margin-top: 2rem; } }
  .service__card {
    display: flex;
    margin: 1rem 0; }
    .service__card i {
      font-size: 3rem; }
  .service__text {
    margin-left: 2rem; }
    .service__text h3 {
      font-size: 2.5rem; }
    .service__text p {
      font-size: 1.6rem; }

.about__container {
  padding: 3rem 6rem;
  margin-top: 14rem; }

.row {
  display: flex; }

.column1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2; }

.column2 {
  flex: 1;
  padding-top: 0px;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-left: 40px; }

.about-img {
  height: initial;
  width: 90%;
  object-fit: contain; }

.subtitle-element:after {
  background-color: #00c2e5;
  width: 306px;
  margin-top: -18px; }

.subtitle-element:after {
  content: '';
  position: absolute;
  height: 3px; }

h2 {
  font-size: 36px;
  line-height: 1.14;
  margin-bottom: 10px; }

.subtitle-element h1, .subtitle-element h2, .subtitle-element h3, .subtitle-element h4, .subtitle-element h5, .subtitle-element h6 {
  line-height: 1;
  font-size: 25px;
  text-transform: uppercase;
  color: #171c24;
  padding-bottom: 0;
  position: relative;
  font-weight: 100;
  padding-left: 0;
  padding-bottom: 35px;
  margin-bottom: 0; }

.subtitle-element h1:after, .subtitle-element h2:after, .subtitle-element h3:after, .subtitle-element h4:after, .subtitle-element h5:after, .subtitle-element h6:after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 26px;
  width: 13px;
  height: 13px;
  background-color: #fff;
  -webkit-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  border: 2px solid #00c2e5;
  z-index: 2; }

p {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.8; }

h5 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 7px; }

.about__wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* ======== TEAM  ======== */
.team__container {
  color: black;
  padding: 3rem 6rem; }

.max-title h1:after, .max-title h2:after, .max-title h3:after, .max-title h4:after, .max-title h5:after, .max-title h6:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: #fff;
  transform: translate(-50%) rotate(45deg);
  border: 2px solid #00c2e5;
  z-index: 2; }

.max-title:after {
  background-color: #00c2e5;
  width: 180px; }

.max-title {
  position: relative;
  margin-bottom: 35px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 30px; }

.max-title:before, .max-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  height: 3px; }

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left; }

.team__columns {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

/* ======== NEXT STEPS  ======== */
.nextstep__card {
  flex: 1;
  text-align: center; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to top, #05fe0d, #3d7a04);
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 300px; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn .btn > * {
    display: inline-block;
    height: auto;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem;
    width: max-content; }
  .btn__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to bottom, #05fe0d, #3d7a04); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@media (min-width: 769px) and (max-width: 950px) {
  .desk {
    display: none; }
  .top-links.rgtflot {
    float: right;
    padding-right: 0px; }
  nav.mobileNav,
  .hamburger-btn {
    display: block; }
  .mobileLogoText {
    padding-left: 5px; }
  .mobileLogoText__image {
    float: left;
    height: 80px;
    width: 230px; }
  .hamburger-btn {
    position: relative; }
  .mobileNav {
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #fff;
    display: flex;
    z-index: 100; }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    float: right;
    padding: 20px 20px 10px 0px;
    font-size: 35px;
    color: #40b2f1;
    cursor: pointer; }
  .mobileNav ul {
    margin-top: 70px;
    background: #364a4b;
    display: none; }
  .mobileNav li {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer; }
  .mobileNav ul.active {
    display: block; }
  nav.desk ul li:hover,
  nav.mobileNav ul li:hover {
    background: #a3ada5; }
  a {
    color: #feffff;
    text-decoration: none;
    outline: 0; } }

@media (min-width: 593px) and (max-width: 769px) {
  .team__container {
    padding: 0rem; }
  .card {
    max-width: 250px; } }

@media (min-width: 480px) and (max-width: 593px) {
  .column1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /* flex: 2; */ }
  .card {
    max-width: 80%;
    padding-bottom: 2px; }
  .nextstep-img {
    display: none; } }

@media (min-width: 250px) and (max-width: 480px) {
  .subtitle-element {
    padding-top: 20px; }
  .subtitle-element:after {
    background-color: #00c2e5;
    width: 250px;
    margin-top: -18px; }
  .btn {
    width: -webkit-fill-available; }
  .row {
    display: block; }
  .column2 {
    padding: 0px;
    height: auto;
    text-align: center; }
  .card {
    max-width: 100%;
    padding-bottom: 2px; }
  .team__container {
    padding-top: 20px;
    padding-bottom: 0px; }
  .about__container {
    margin-top: 14rem;
    padding-top: 0rem;
    padding-right: 3rem;
    padding-bottom: 0rem;
    padding-left: 3rem; }
  .nextstep-img {
    display: none; } }

.welcome {
  padding: 7rem 12rem; }
  @media only screen and (max-width: 56.25em) {
    .welcome {
      padding: 5rem 6rem; } }
  .welcome__title {
    margin-top: 0;
    margin-bottom: 4rem;
    color: #000;
    font-size: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .welcome__title {
        margin-bottom: 1rem;
        font-size: 3rem; } }
  .welcome__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .welcome__main {
        grid-template-columns: 1fr; } }
  .welcome__secondary {
    width: 80%;
    font-size: 2rem;
    text-align: left;
    line-height: 1.3;
    margin: 2rem auto; }
  .welcome__text p {
    font-size: 2rem;
    line-height: 1.5;
    margin: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .welcome__text p {
        margin: 2rem 0; } }
  .welcome__img {
    width: 100%; }

.jum {
  width: 50%;
  margin: auto; }
