*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.header__button {
  padding: 1rem;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  background-color: rgba(186, 187, 195, 0.15);
  transition: all .3s; }
  .header__button:hover {
    padding: 1.2rem;
    font-size: 2.3rem;
    background-color: rgba(186, 187, 195, 0.4); }

.package {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .package__section {
    background-color: #3f3c3c;
    min-height: 100vh;
    padding-top: 2rem; }
  .package__header {
    margin-bottom: 4rem;
    color: white;
    text-align: center;
    font-size: 5rem; }
  .package__price {
    text-align: center;
    font-size: 4rem; }
  .package__title {
    text-align: center;
    font-size: 3rem; }
  .package__box {
    width: 20rem;
    height: 30rem;
    padding: 3rem;
    border: 1px solid #9e9a9a;
    background-color: #e7d5d5;
    color: #131212;
    margin-bottom: 3rem; }
  .package__list {
    margin-top: 2rem;
    list-style: none;
    margin: 0;
    padding: 0; }
  .package__item {
    padding: 5px;
    border-bottom: 1px solid #4b4141; }

.technology {
  background-color: #3a3939;
  min-height: 100vh;
  padding-top: 2rem; }
  .technology__header {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem; }
  .technology__icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 3rem; }
  .technology__icon {
    font-size: 10rem;
    color: white;
    text-align: center; }

.home {
  height: 100vh;
  background-image: url(../img/home.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home__header {
    font-size: 5rem;
    color: aliceblue;
    text-align: center;
    margin-bottom: 3rem; }
