*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.site__button:link, .site__button:visited {
  display: inline-block;
  margin-top: 1.2rem;
  padding: .5rem 3rem;
  border: 2px inset white;
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  background-color: rgba(186, 187, 195, 0.15);
  text-decoration: none;
  transition: background-color .5s; }
  .site__button:link:hover, .site__button:visited:hover {
    background-color: rgba(186, 187, 195, 0.4); }

.package__section {
  background-color: #3f3c3c;
  min-height: 100vh;
  padding-top: 2rem; }

.package__header {
  margin-bottom: 4rem;
  color: white;
  text-align: center;
  font-size: 5rem; }

.package__price {
  text-align: right;
  font-size: 3rem;
  transform: rotate(-50deg) translate(-13px, -26px);
  position: absolute;
  color: green; }

.package__title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem; }

.package__box {
  padding: 3rem;
  border: 1px solid #9e9a9a;
  background-color: #e7d5d5;
  color: #131212; }
  @media only screen and (max-width: 37.5em) {
    .package__box {
      margin-bottom: 1rem; } }

.package__list {
  margin-top: 2rem;
  list-style: none;
  margin: 0;
  padding: 0; }

.package__item {
  padding: 5px;
  font-size: 1.7rem;
  line-height: 1.7;
  border-bottom: 1px solid #4b4141; }

.package__button {
  display: block;
  width: 30%;
  padding: 1rem;
  border: 1px solid #3f3c3c;
  text-decoration: none;
  color: #3f3c3c;
  font-size: 2rem;
  background-color: rgba(186, 187, 195, 0.15);
  margin: 2rem auto;
  text-align: center;
  border-radius: 20px; }

.technology {
  background-color: #3a3939;
  min-height: 100vh;
  padding-top: 2rem; }
  .technology__header {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem; }
  .technology__icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 3rem; }
  .technology__icon {
    font-size: 10rem;
    color: white;
    text-align: center; }

.home {
  height: 50vh;
  background-image: url(../img/home.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem; }
  .home__header {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-bottom: 3rem; }
  .home p {
    font-size: 3rem;
    color: white;
    text-align: center; }

.top-bar {
  background: #3b3e46;
  min-height: 51px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100; }

.top-links {
  float: left;
  color: #d8d8d8;
  font-size: 13px;
  line-height: 51px;
  font-weight: 400;
  padding-left: 11px; }

.top-links.rgtflot {
  float: right;
  padding-right: 10px; }

.top-bar h6 i {
  background: none;
  font-size: 16px;
  color: #00c2e5;
  display: inline;
  margin: 7px 4px;
  vertical-align: middle; }

.top-bar .socialfollow {
  float: right;
  margin-right: 10px; }

.top-bar a.topbar-btn {
  color: #fff;
  background: #77da55;
  line-height: 51px;
  height: 52px;
  display: inline-block;
  padding: 0 15px;
  float: right;
  font-size: 12px;
  font-weight: 400;
  transition: .2s all ease; }

.top-bar h6, .top-inf h6 {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: inline-block; }

.top-links a {
  color: #fff;
  font-size: 10px;
  display: inline;
  margin: 0 6px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .6px; }

a, a:visited {
  color: #09f;
  text-decoration: none;
  outline: 0; }

.top-bar .socialfollow a {
  padding: 0;
  background: 0 0;
  margin: 14px 3px 0;
  background-color: #303239;
  border: 1px solid #2c2d34;
  width: 28px;
  text-align: center;
  line-height: 28px;
  height: 28px; }

.socialfollow a {
  border-radius: 8px;
  padding: 8px;
  margin-right: 7px;
  transition: .3s all; }

.top-bar .socialfollow i, .top-links .socialfollow a:before {
  color: #fff;
  font-size: 16px;
  padding-top: 13px; }

a:hover, .socialfollow i:hover, .navbar .nav > li > a:before, .btn-group .btn, #nav .active a, #nav > li:hover > a {
  color: #0ab1f0; }

.footer {
  height: 4rem;
  padding: 1rem 0; }
  .footer__text {
    font-size: 2.5rem;
    text-align: center; }

.portfolio {
  background-color: #3f3c3c;
  color: white; }
  .portfolio__header {
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center; }
  .portfolio__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .portfolio__card {
    padding: 2rem 0; }
    .portfolio__card figure {
      margin: 2rem; }
    .portfolio__card figcaption {
      font-size: 2.7rem;
      text-align: center;
      padding: 2rem 0;
      font-weight: bold; }
    .portfolio__card p {
      font-size: 1.8rem; }
    .portfolio__card img {
      width: 30rem;
      height: 20rem; }

.packageSection {
  padding: 0 15rem 5rem 15rem;
  background-color: #4b4141; }
  @media only screen and (max-width: 56.25em) {
    .packageSection {
      padding: 0 5rem 5rem 5rem; } }
  .packageSection__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid {
        grid-template-columns: 1fr; } }
  .packageSection__grid div:first-child {
    grid-column: 1 / 1;
    grid-row: 1 / 1; }
  .packageSection__grid div:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 1 / 1; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(2) {
        grid-column: 1 / 1;
        grid-row: 2 / 2; } }
  .packageSection__grid div:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 2; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(3) {
        grid-row: 3/ 3; } }
  .packageSection__grid div:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(4) {
        grid-column: 1 / 1;
        grid-row: 4 / 4; } }
  .packageSection__grid div:last-child {
    grid-column: 3 / -1;
    grid-row: 1 / 3; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:last-child {
        grid-column: 1 / 1;
        grid-row: 5 / 5; } }

html {
  scroll-behavior: smooth; }

.desk {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 51px;
  z-index: 20; }

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
  overflow: hidden;
  flex: 0 1 75%;
  display: flex;
  justify-content: flex-end; }

.navigation__item {
  float: left;
  padding: 0;
  margin: 0; }

.navigation__link {
  display: block;
  font-weight: 600;
  color: #444;
  outline: 0;
  opacity: 1;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 15px;
  letter-spacing: 0.3px;
  line-height: 90px;
  transition: background .15s ease-in-out; }

.logo {
  background: #fff;
  flex: 0 0 25%;
  display: flex;
  justify-content: center; }

.logo__image {
  height: 70px;
  margin: 6px 0px; }

.mobileNav {
  display: none; }

@media only screen and (max-width: 950px) {
  .desk {
    display: none; }
  .top-links.rgtflot {
    float: right;
    padding-right: 0px; }
  nav.mobileNav,
  .hamburger-btn {
    display: block; }
  .mobileLogoText {
    padding-left: 5px; }
  .mobileLogoText__image {
    float: left;
    height: 80px;
    width: 230px; }
  .hamburger-btn {
    position: relative; }
  .mobileNav {
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #fff;
    display: flex;
    z-index: 100; }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    float: right;
    padding: 20px 20px 10px 0px;
    font-size: 35px;
    color: #40b2f1;
    cursor: pointer; }
  .mobileNav ul {
    margin-top: 70px;
    background: #364a4b;
    display: none; }
  .mobileNav li {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer; }
  .mobileNav ul.active {
    display: block; }
  nav.desk ul li:hover,
  nav.mobileNav ul li:hover {
    background: #a3ada5; }
  a {
    color: #feffff;
    text-decoration: none;
    outline: 0; } }

@media only screen and (max-width: 593px) {
  .lftflot, .socialfollow {
    display: none; }
  .top-bar {
    background: #3b3e46;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100; }
  .top-bar a.topbar-btn {
    float: none;
    line-height: 26px;
    height: 24px;
    border-radius: 33px;
    font-size: 11px;
    font-weight: 500;
    background-color: #0ab1f0; }
  .rgtflot {
    float: none !important;
    text-align: center;
    clear: both; }
  .mobileNav {
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    top: 50px; }
  .mobileLogoText__image {
    max-height: 58px;
    max-width: 150px; }
  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    float: right;
    padding: 12px 20px 12px 0px;
    font-size: 35px;
    color: #40b2f1;
    cursor: pointer; } }

.packageSection {
  padding: 0 15rem 5rem 15rem;
  background-color: #4b4141; }
  @media only screen and (max-width: 56.25em) {
    .packageSection {
      padding: 0 5rem 5rem 5rem; } }
  .packageSection__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid {
        grid-template-columns: 1fr; } }
  .packageSection__grid div:first-child {
    grid-column: 1 / 1;
    grid-row: 1 / 1; }
  .packageSection__grid div:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 1 / 1; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(2) {
        grid-column: 1 / 1;
        grid-row: 2 / 2; } }
  .packageSection__grid div:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 2; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(3) {
        grid-row: 3/ 3; } }
  .packageSection__grid div:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:nth-child(4) {
        grid-column: 1 / 1;
        grid-row: 4 / 4; } }
  .packageSection__grid div:last-child {
    grid-column: 3 / -1;
    grid-row: 1 / 3; }
    @media only screen and (max-width: 56.25em) {
      .packageSection__grid div:last-child {
        grid-column: 1 / 1;
        grid-row: 5 / 5; } }

.carousel {
  background: #2f4357;
  margin-top: 20px; }

.carousel-item {
  text-align: center;
  min-height: 230px;
  /* Prevent carousel from being distorted if for some reason image doesn't load */ }

.bs-example {
  margin-top: 100px; }

.carousel-img {
  vertical-align: middle;
  border-style: none;
  width: 100%; }

@media only screen and (max-width: 950px) {
  .bs-example {
    margin-top: 120px; } }

.service {
  background-color: #3a3939;
  padding: 2rem 0;
  color: white;
  text-align: center; }
  .service__title {
    font-size: 5rem;
    margin-bottom: 2rem; }
  .service__area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .service__card {
    border: 2px solid white;
    padding: 3rem 0;
    width: 30rem;
    margin-bottom: 2rem;
    box-shadow: 1px 3px 5px white;
    border-radius: 3px;
    background: linear-gradient(-45deg, #5d5368 50%, rgba(19, 6, 49, 0.5) 50%); }
    .service__card i {
      font-size: 3rem;
      margin-bottom: 2rem; }
    .service__card h3 {
      font-size: 2.5rem; }
    .service__card p {
      font-size: 1.6rem; }
