$color-white-1: white;

$color-black-1: #3f3c3c;
$color-black-2: #4b4141;
$color-black-3: #3a3939;

$color-grey-1: #9e9a9a;
$color-grey-2: #e7d5d5;

$color-primary-light: #F0E68C;
$color-primary-dark: #B8860B;

$color-green-light: #c7f1c7dd;
$color-green: #16D912;
$color-green-dark: #067a06dd;