
.about{
    padding: 3rem 5rem 3rem 12rem;
    margin-top: 14rem;

    &__title{
        color: $color-green;
        font-size: 5rem;
    }

    &__subtitle{
        font-size: 3rem;
    }
}
.row{
    display: flex;
}
.column1{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}
.column2 {
    flex: 1;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
}
.about-img {
    height: initial;
    width: 90%;
    object-fit: contain;
}
.subtitle-element:after {
    content: '';
    position: absolute;
    // bottom: -3px;
    height: 3px;
}
h2 {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 10px;
}
.subtitle-element h1, .subtitle-element h2, .subtitle-element h3, .subtitle-element h4, .subtitle-element h5, .subtitle-element h6 {
    line-height: 1;
    font-size: 25px;
    text-transform: uppercase;
    color: #171c24;
    padding-bottom: 0;
    position: relative;
    font-weight: 100;
    padding-left: 0;
    padding-bottom: 35px;
    margin-bottom: 0;
    margin-left: 5rem;
}

p {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.8;
    
}
h5 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 7px;
}
.about__wrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

 /* ======== TEAM  ======== */
.team__container{
    color: black;
    padding: 3rem 6rem;
}

.max-title {
    position: relative;
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 30px
}
 // blue horizontal line 
.max-title:before, .max-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    height: 3px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}
.team__columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


 /* ======== NEXT STEPS  ======== */

 .nextstep__card {
    flex: 1;
    text-align: center;
}
.btn{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    // background-image: linear-gradient(to top,  #F0E68C, #B8860B);
    background-image: linear-gradient(to top, #05fe0d, #3d7a04);
    color: white;
    position: relative;
    // hide the second text because it is outside of the button
    overflow: hidden;
    cursor: pointer;
    width: 300px;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }
    .btn > * {
        display: inline-block;
        height: auto; 
        width: 100%;
        transition: all .2s;
    }
    // first text
    &__visible{
        padding: 2rem;
        width: max-content;
    }
    
    // put the second text above the first text
    &__invisible{
        display: inline-block;
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }

    // change color
    &:hover{
        // background-image: linear-gradient(to bottom, #F0E68C, #B8860B);
        background-image: linear-gradient(to bottom, #05fe0d, #3d7a04);
    }

    // move the first text down
    &:hover &__visible{
        transform: translateY(100%);
    }

    // show the second text
    &:hover &__invisible{
        top: 0;
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}







// MEDIA QUERIES
@media (min-width: 769px) and (max-width: 950px){
    .desk {
        display: none;
    }
    .top-links.rgtflot {
        float: right;
        padding-right: 0px;
    }

    nav.mobileNav,
    .hamburger-btn {
        display: block;
    }

    .mobileLogoText {
        padding-left: 5px;
    }

    .mobileLogoText__image {
        float: left;
        height: 80px;
        width: 230px;
    }

    .hamburger-btn {
        position: relative;
    }

    .mobileNav {
        width: 100%;
        position: fixed;
        top: 51px;
        background-color: #fff;
        display: flex;
        z-index: 100;
    }

    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times {
        float: right;
        padding: 20px 20px 10px 0px;
        font-size: 35px;
        color: #40b2f1;
        cursor: pointer;
    }

    .mobileNav ul {
        margin-top: 70px;
        background: #364a4b;
        display: none;
    }

    .mobileNav li {
        text-align: center;
        padding: 20px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .mobileNav ul.active {
        display: block;
    }

    nav.desk ul li:hover,
    nav.mobileNav ul li:hover {
        background: #a3ada5;
    }

    a {
        color: #feffff;
        text-decoration: none;
        outline: 0;
    }
}
       
@media (min-width: 593px) and (max-width: 769px){
    .team__container {
        padding: 0rem;
    }
    .card {
        max-width: 250px;
    }
}

@media (min-width: 480px) and (max-width: 593px){
    .column1 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        /* flex: 2; */
    }
    .card {
        max-width: 80%;
        padding-bottom: 2px;
    }

    .nextstep-img{
        display: none;
    }
}
@media (min-width: 250px) and (max-width: 480px) {
    .subtitle-element{
        padding-top: 20px;
    }
    .subtitle-element:after {
        background-color: #00c2e5;
        width: 250px;
        margin-top: -18px;
    }
    .btn {
        width: -webkit-fill-available;
    }
    
    .row{
        display: block;
    }
    .column2 {
        padding: 0px;
        height: auto;
        text-align: center;
    }
    .card {
        max-width: 100%;
        padding-bottom: 2px;
    }
    .team__container {
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .about__container {
        margin-top: 14rem;
        padding-top: 0rem;
        padding-right: 3rem;
        padding-bottom: 0rem;
        padding-left: 3rem;
    }
    .nextstep-img{
        display: none;
    }
}