.getStarted{
    margin-bottom: 5rem;

    &__container{
        background-color: $color-green-light;
        padding: 5rem 2rem;
        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 50px;

        & h2{
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 2rem;

            @include respond(port){
                font-size: 3rem;
            }
        }

        & a{
            font-size: 3rem;
            background-color: $color-green-dark;
            color: white;
            padding: .5rem 2rem;
            border-radius: 10px;

            @include respond(port){
                font-size: 2.5rem;
            }
        }
    }
}

