.process{
    min-height: 30vh;
    padding: 3rem 0;
    background-color: $color-black-3;
    color: white;

    &__header{
        font-size: 3.5rem;
        text-align: center;
    }

    &__area{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;

        @include respond(port){
            flex-direction: column;
        }

        & p{
            font-size: 4rem;
            background-color: #645f5f;
            padding: 2.5rem 4.5rem;
            border-radius: 50%;
            margin-bottom: 0;
        }
    }

    &__line{
        width: 100%;
        height: 2px;
        position: relative;
        background-color: white;

        @include respond(port){
            width: 2px;
            height: 5rem;
        }
    }

    
}