.process{
    min-height: 30vh;
    padding: 3rem 0;
    background-color: $color-black-3;
    color: white;

    &__header{
        font-size: 3.5rem;
        text-align: center;
    }

    &__area{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;

        & p{
            font-size: 4rem;
            background-color: #645f5f;
            padding: 2.5rem 4.5rem;
            border-radius: 50%;
            
        }

        & hr{
            height: 1px;
            position: relative;
            background-color: white;
        }
    }

    &__line{
        width: 100%;
        position: relative;
        border-bottom: 1px solid white;
    }

    
}