.packageSection{
    padding: 5rem 5rem;
    background-color: $color-green-light;

    @include respond(port){
        padding: 0 5rem 5rem 5rem
    }
    
    &__grid{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__include{
        background-color: $color-grey-2;
        padding: .5rem 1rem 1rem 1rem;
    }

    &__includeList{
        display: flex;
        flex-wrap: wrap;
        margin-right: 1rem;
        list-style-type: none;
    }

    &__includeItem{
        margin-right: 2rem;
        font-size: 2rem;
    }
}