.packageSection{
    padding: 5rem 5rem;

    @include respond(port){
        padding: 0 5rem 5rem 5rem
    }
    
    &__grid{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}