.packageSection{
    padding: 0 15rem 5rem 15rem;
    background-color: $color-black-2;

    @include respond(port){
        padding: 0 5rem 5rem 5rem
    }
    
    &__grid{
        display: flex;
        justify-content: space-around;
    }
}