.service{
    padding: 2rem 5rem;
    background-color: $color-green-light;
    color: $color-white-1;
    text-align: center;

    &__title{
        font-size: 5rem;
        margin-bottom: 2rem;
        color: $color-black-1;
    }

    &__area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        border: 2px solid white;
        padding: 3rem 0;
        width: 30rem;
        margin-bottom: 2rem;
        box-shadow: 1px 3px 5px white;
        border-radius: 3px;
        background: linear-gradient(-45deg, rgb(93, 83, 104) 50%, rgba(19, 6, 49, 0.5) 50%);

        & i{
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        & h3{
            font-size: 2.5rem;
        }

        & p{
            font-size: 1.6rem;
            color: $color-white-1;
        }
    }
    
}