.welcome{
    padding: 7rem 12rem;
    text-align: center;

    &__title{
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 3rem;
    }

    &__main{
        font-size: 2rem;
        text-align: left;
        line-height: 1.3;
        margin: 2rem auto;
    }

    &__secondary{
        width: 80%;
        font-size: 2rem;
        text-align: left;
        line-height: 1.3;
        margin: 2rem auto;
    }
}
.jum{
    width: 50%;
    margin: auto;
}

.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   color:blue;
   width: 95%; /* half of limiter*/
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}