.container{
    
}

.home{
    height: 100vh;
    background-image: url(img/home.jpeg);
    background-size: cover;
}

.home__header{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}

.package{
    background-color: #b3bff6;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.package__item{
    padding: 30px;
    border: 1px solid black;
}