*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{

}

.home{
    height: 100vh;
    background-image: url(img/home.jpeg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__header{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;
}

.header{
    text-align: center;
}

.header__button{
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(186, 187, 195, .15);
    transition: all .3s;
}

.header__button:hover{
    padding: 12px;
    font-size: 23px;
    background-color: rgba(186, 187, 195, .4);
}

.package-section{
    background-color: #3f3c3c;
    height: 100vh;
}

.package{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.package__header{
    color: white;
}

.package__item{
    padding: 30px;
    border: 1px solid #9e9a9a;
    color: white;
}