*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
}
.container{

}

.home{
    height: 100vh;
    background-image: url(img/home.jpeg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home__header{
    font-size: 50px;
    color: aliceblue;
    text-align: center;
    margin-bottom: 30px;
}

.header{
    text-align: center;
}

.header__button{
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(186, 187, 195, .15);
    transition: all .3s;
}

.header__button:hover{
    padding: 12px;
    font-size: 23px;
    background-color: rgba(186, 187, 195, .4);
}

.package-section{
    background-color: #3f3c3c;
    min-height: 100vh;
    padding-top: 20px;
}

.package{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.package__header{
    margin-bottom: 40px;
    color: white;
    text-align: center;
    font-size: 50px
}

.package__price{
    text-align: center;
    font-size: 40px;
}

.package__title{
    text-align: center;
    font-size: 30px;
}

.package__item{
    width: 200px;
    height: 300px;
    padding: 30px;
    border: 1px solid #9e9a9a;
    color: white;
    margin-bottom: 30px;
}

.package__list{
    margin-top: 20px;
}

.technology{
    background-color: #3a3939;
    min-height: 100vh;
    padding-top: 20px;
}

.technology__header{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.technology__icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.technology__icon{
    font-size: 100px;
    color: white;
    text-align: center;
}