.header__button{
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(186, 187, 195, .15);
    transition: all .3s;

    &:hover{
        padding: 12px;
        font-size: 23px;
        background-color: rgba(186, 187, 195, .4);
    }
}