.header__button{
    padding: 1rem;
    border: 1px solid $color-white-1;
    text-decoration: none;
    color: $color-white-1;
    font-size: 2rem;
    background-color: rgba(186, 187, 195, .15);
    transition: all .3s;

    &:hover{
        padding: 1.2rem;
        font-size: 2.3rem;
        background-color: rgba(186, 187, 195, .4);
    }
}