.package{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__section{
        background-color: $color-black-1;
        min-height: 100vh;
        padding-top: 2rem;
    }
    
    &__header{
        margin-bottom: 4rem;
        color: $color-white-1;
        text-align: center;
        font-size: 5rem;
    }
    
    &__price{
        text-align: center;
        font-size: 4rem;
    }
    
    &__title{
        text-align: center;
        font-size: 3rem;
    }
    
    &__box{
        width: 20rem;
        height: 30rem;
        padding: 3rem;
        border: 1px solid $color-grey-1;
        background-color: $color-grey-2;
        color: #131212;
        margin-bottom: 3rem;
    }
    
    &__list{
        margin-top: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item{
        padding: 5px;
        border-bottom: 1px solid $color-black-2;
    }
}