.package{
    perspective: 150rem;
    background-color: $color-grey-2;
    height: 50rem;
    width: 30rem;
    transition: transform 1s;

    &:hover{
        transform: rotateY(180deg);
    }

    &__section{
        background-color: $color-black-1;
        min-height: 100vh;
        padding-top: 2rem;
    }
    
    &__header{
        margin-bottom: 4rem;
        color: $color-white-1;
        text-align: center;
        font-size: 5rem;
    }
    
    &__price{
        text-align: right;
        font-size: 3rem;
        transform: rotate(-50deg) translate(-13px, -26px);
        position: absolute;
        color: green;
    }
    
    &__title{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    
    &__box{
        padding: 3rem;
        border: 1px solid $color-grey-1;
        background-color: $color-grey-2;
        color: #131212;

        @include respond(phone){
            margin-bottom: 1rem;
        }
    }
    
    &__list{
        margin-top: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item{
        padding: 5px;
        font-size: 1.7rem;
        line-height: 1.7;
        border-bottom: 1px solid $color-black-2;
    }

    &__button{
        display: block;
        width: 30%;
        padding: 1rem;
        border: 1px solid $color-black-1;
        text-decoration: none;
        color: $color-black-1;
        font-size: 2rem;
        background-color: rgba(186, 187, 195, .15);
        margin: 2rem auto;
        text-align: center;
        border-radius: 20px;
    }
}