.technology{
    min-height: 100vh;
    padding-top: 2rem;

    &__header{
        color: $color-black-1;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    
    &__icons{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-row-gap: 3rem;
    }
    
    &__icon{
        font-size: 10rem;
        color: $color-black-1;
        text-align: center;
    }
}

