.technology{
    color: $color-white-1;
    padding-top: 2rem;
    padding-bottom: 5rem;

    &__header{
        color: $color-black-1;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    
    &__icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 3rem;

        @include respond(port){
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &__icon{
        font-size: 10rem;
        color: $color-black-1;
        text-align: center;
    }
}

